.torque-csp__warning {
	font-weight: bold;
	color: #d63638;
}

.torque-csp__collapse-switch {
	display: none !important;
}

.torque-csp__collapse-content {
	overflow: hidden;
	max-height: 0;
	transition: all 1s;
}

.torque-csp__collapse-switch:checked ~ .torque-csp__collapse-content {
	max-height: 1000px;
}

.torque-csp__heading {
	margin: 5px 0;
}

.torque-csp__heading-label {
	display: flex;
}

.torque-csp__heading-icon {
	margin-right: 5px;
}

.torque-csp__heading-icon.dashicons-minus {
	display: none;
}

.torque-csp__collapse-switch:checked + .torque-csp__heading .torque-csp__heading-icon.dashicons-minus {
	display: block;
}

.torque-csp__collapse-switch:checked + .torque-csp__heading .torque-csp__heading-icon.dashicons-plus-alt2 {
	display: none;
}

.torque-csp__recommendations-list {
	margin: 0 0 15px 0;
}

.torque-csp__recommendations-add {
	cursor: pointer;
}

.torque-csp__recommendations-icon {
	margin-right: 5px;
	text-decoration: none;
	color: #3c434a;
}

.torque-csp__recommendations-add:hover > .torque-csp__recommendations-icon {
	color: #72aee6;
}

.torque-csp__list {
	margin: 0;
	list-style: none;
	padding: 0;
}

.torque-csp__list-item {
	display: flex;
	align-items: center;
}

.torque-csp__add, .torque-csp__delete {
	border: none;
	background: none;
	padding: 0;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	overflow: hidden;
	cursor: pointer;
}

.torque-csp__add::before, .torque-csp__delete::before {
	transition: all 0.3s;
}

.torque-csp__add:hover::before {
	color: #72aee6;
}

.torque-csp__delete:hover::before {
	color: #d63638;
}

.torque-csp__delete {
	margin-left: 5px;
}

.torque-csp__value {
	width: 250px;
}

.torque-csp__log-table {
	border: 1px solid #c3c4c7;
	border-collapse: collapse;
	background: #FFF;
}

.torque-csp__log-header {
	padding: 5px !important;
	width: auto !important;
	border-bottom: 1px solid #c3c4c7;
}

.torque-csp__log-item {
	padding: 5px !important;
	width: auto !important;
}

.torque-csp__log-item--pages {
	white-space: nowrap;
}